In [409]:
# Import libary yang dibutuhkan 
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [410]:
# Read dataset
data = 'dataset/klasifikasi/cell_samples.csv'
df = pd.read_csv(data)

In [411]:
df.shape

(699, 11)

In [412]:
df.head(5)

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [414]:
def dataSetAnalysis(df):
    #view starting values of data set
    print("Dataset Head")
    print(df.head(3))
    print("=" * 100)
    
    # View features in data set
    print("Dataset Features")
    print(df.columns.values)
    print("=" * 100)
    
    # View How many samples and how many missing values for each feature
    print("Dataset Features Details")
    print(df.info())
    print("=" * 100)
    
    # view distribution of numerical features across the data set
    print("Dataset Numerical Features")
    print(df.describe())
    print("=" * 100)
    
    # view distribution of categorical features across the data set
    print("Dataset Categorical Features")
    print(df.describe(include=['O']))
    print("=" * 100)

In [415]:
dataSetAnalysis(df)

Dataset Head
        ID  Clump  UnifSize  UnifShape  MargAdh  SingEpiSize BareNuc  \
0  1000025      5         1          1        1            2       1
1  1002945      5         4          4        5            7      10
2  1015425      3         1          1        1            2       2

   BlandChrom  NormNucl  Mit  Class
0           3         1    1      2
1           3         2    1      2
2           3         1    1      2
====================================================================================================
Dataset Features
['ID' 'Clump' 'UnifSize' 'UnifShape' 'MargAdh' 'SingEpiSize' 'BareNuc'
 'BlandChrom' 'NormNucl' 'Mit' 'Class']
====================================================================================================
Dataset Features Details
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           699 non-null    int64
 1   Clump        699 non-null    int64
 2   UnifSize     699 non-null    int64
 3   UnifShape    699 non-null    int64
 4   MargAdh      699 non-null    int64
 5   SingEpiSize  699 non-null    int64
 6   BareNuc      699 non-null    object
 7   BlandChrom   699 non-null    int64
 8   NormNucl     699 non-null    int64
 9   Mit          699 non-null    int64
 10  Class        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB
None
====================================================================================================
Dataset Numerical Features
                 ID       Clump    UnifSize   UnifShape     MargAdh  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

       SingEpiSize  BlandChrom    NormNucl         Mit       Class
count   699.000000  699.000000  699.000000  699.000000  699.000000
mean      3.216023    3.437768    2.866953    1.589413    2.689557
std       2.214300    2.438364    3.053634    1.715078    0.951273
min       1.000000    1.000000    1.000000    1.000000    2.000000
25%       2.000000    2.000000    1.000000    1.000000    2.000000
50%       2.000000    3.000000    1.000000    1.000000    2.000000
75%       4.000000    5.000000    4.000000    1.000000    4.000000
max      10.000000   10.000000   10.000000   10.000000    4.000000
====================================================================================================
Dataset Categorical Features
       BareNuc
count      699
unique      11
top          1
freq       402
====================================================================================================

In [416]:
# Because i check there's 16 data null with symbol '?', we replace to NaN

df.replace('?', pd.NA, inplace=True)  # Use pd.NA to represent missing values in pandas

# In percentage
df.isna().sum() / len(df) * 100

ID             0.000000
Clump          0.000000
UnifSize       0.000000
UnifShape      0.000000
MargAdh        0.000000
SingEpiSize    0.000000
BareNuc        2.288984
BlandChrom     0.000000
NormNucl       0.000000
Mit            0.000000
Class          0.000000
dtype: float64

In [417]:
# We want to implace the NaN values with 0.
df['BareNuc'].fillna(0, inplace=True)

In [418]:
# Check again if null values has been filled

df.isnull().sum()

ID             0
Clump          0
UnifSize       0
UnifShape      0
MargAdh        0
SingEpiSize    0
BareNuc        0
BlandChrom     0
NormNucl       0
Mit            0
Class          0
dtype: int64

In [419]:
# View percentage distribution of target_class
df['Class'].value_counts()/float(len(df))

Class
2    0.655222
4    0.344778
Name: count, dtype: float64

In [420]:
# Replace class 2 and class 4 to 0 and 1
df['Class'] = df['Class'].replace({2: 0, 4: 1})

Class 0 memiliki arti sel kanker yang masih bersifat jinak
Class 1 memiliki arti sel kanker yang ganas

In [421]:
print(df['Class'].value_counts())

Class
0    458
1    241
Name: count, dtype: int64

In [422]:
# Melakukan pemilihan dengan Slicing, dari kolom 2-10
# Target Class berada pada kolom 11

""" Slicing X and y variables
X, variabel independen, membutuhkan kolom 2-10
y, variabel terikat, membutuhkan kolom terakhir
"""

X = df.iloc[:, 1:9].values  
y = df.iloc[:, 10].values

In [423]:
# Memasukkan data kedalam training dan test set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [424]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
# Import TensorFlow, Keras, Sequential, Dense
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Initialize ANN
classifier = Sequential()

In [ ]:
# Tambahkan layer input dan layer tersembunyi pertama
classifier.add(Dense(units=6, activation='relu', input_dim=8))

# Tambahkan layer tersembunyi kedua
classifier.add(Dense(units=6, activation='relu'))

# Tambahkan layer tersembunyi ketiga (contoh)
classifier.add(Dense(units=6, activation='relu'))

# Tambahkan layer output
classifier.add(Dense(units=1, activation='sigmoid'))

In [ ]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
classifier.fit(X_train, y_train, batch_size = 32, epochs = 100)